<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Icons -->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet"
    />

    <title>Profile Checklist</title>
    <link rel="stylesheet" href="/styles/profile.css" />
  </head>

  <body>
    <div class="container">
      <nav>
        <img src="/images/olions.svg" alt="logo" />
        <img src="/images/Settings Outlined.svg" alt="settings" />
      </nav>
      <!-- Title -->
      <div class="title">
        <p id="title">Profile Checklist</p>
      </div>

      <!-- Icon or Image -->
      <div class="image">
        <img id="image" src="/images/BG Icon1.png" alt="profile icon" />
      </div>

      <!-- Label Text -->
      <div class="labeltext">
        <p id="text">
          Provide all the items in this list so we can review your profile.
        </p>
      </div>

      <!-- Form -->
      <form>
        <div class="input">
          <input
            input
            class="name"
            type="text"
            name="name"
            placeholder="Full Name"
            required
          />
          <input
            input
            class="profile"
            type="text"
            name="profile-picture"
            placeholder="Profile Picture"
            required
          />
        </div>
        <div class="input">
          <input
            input
            class="fitolio"
            type="text"
            name="fitolio"
            placeholder="Fitolio Handle"
            required
          />
          <input
            input
            class="interests"
            type="text"
            name=""
            placeholder="Interests"
            required
          />
        </div>
        <div class="input">
          <input
            input
            class="experience"
            type="text"
            name="experience"
            placeholder="Experience"
            required
          />
          <input
            input
            class="languages"
            type="text"
            name="languages"
            placeholder="Languages"
            required
          />
        </div>
        <div class="input">
          <input
            input
            class="social"
            type="text"
            name="social"
            placeholder="Social Networks"
            required
          />
          <input
            input
            class="about"
            type="text"
            name="about"
            placeholder="About You"
            required
          />
        </div>
        <div class="input">
          <input
            input
            class="intro"
            type="text"
            name="intro"
            placeholder="Intro Video"
            required
          />
          <input
            input
            class="id"
            type="text"
            name="id"
            placeholder="Government ID"
            required
          />
        </div>

        <span class="terms"> Pick 10 items to continue</span>

        <div id="myProgress">
          <div id="myBar">1%</div>
        </div>

        <div class="button">
          <button id="submitButton" type="button">Send for review</button>
        </div>
      </form>
    </div>

    <script src="/scripts/profile.js"></script>
  </body>
</html>
