<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap" rel="stylesheet">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">


    <title>Profile Checklist</title>
    <link rel="stylesheet" href="/styles/profile.css">

</head>

<body>

    <div class="container">
        <!-- Title -->
        <div class="title">
            <p id="title">Profile Checklist</p>
        </div>


        <!-- Icon or Image -->
        <div class="image">
            <img id="image" src="/images/BG Icon1.png" alt="profile icon">

        </div>

        <!-- Label Text -->
        <div class="labeltext">
            <p id="text">Provide all the items in this list so we can review your profile.</p>
        </div>


        <!-- Form -->
        <form>
            <div class="input">
                <input name_input class="name" type="text" name="name" id="input" placeholder="Full Name" required>
                <input profile_input class="profile" type="text" name="profile-picture" id="input"
                    placeholder="Profile Picture" required>
            </div>
            <div class="input">
                <input fitolio_input class="fitolio" type="text" name="fitolio" id="input" placeholder="Fitolio Handle"
                    required>
                <input interests_input class="interests" type="text" name="interests" id="input" placeholder="Interests"
                    required>
            </div>
            <div class="input">
                <input experience_input class="experience" type="text" name="experience" id="input"
                    placeholder="Experience" required>
                <input languages_input class="languages" type="text" name="languages" id="input" placeholder="Languages"
                    required>
            </div>
            <div class="input">
                <input social_input class="social" type="text" name="social" id="input" placeholder="Social Networks"
                    required>
                <input about_input class="about" type="text" name="about" id="input" placeholder="About You" required>
            </div>
            <div class="input">
                <input intro_input class="intro" type="text" name="intro" id="input" placeholder="Intro Video" required>
                <input id_input class="id" type="text" name="id" id="input" placeholder="Government ID" required>
            </div>

            <span class="terms"> Pick 10 items to continue</span>

            <div class="progress-wrap progress" data-progress-percent="25">
                <div class="progress-bar progress"></div>
            </div>

            <div class="button">
                <button id="submitButton" type="button">Send for review</button>
            </div>
        </form>

    </div>




    <script src="/scripts/profile.js"></script>
</body>

</html>