<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset</title>
    <link rel="stylesheet" href="/styles/reset.css" />
  </head>

  <body>
    <div class="container">
      <nav>
        <img src="/images/olions.svg" alt="logo" />
        <img src="/images/Settings Outlined.svg" alt="settings" />
      </nav>
      <!-- Title -->
      <div class="title">
        <p id="title">Reset Password</p>
      </div>

      <!-- Icon or Image -->
      <div class="image">
        <img id="image" src="/images/BG Icon.png" alt="reset icon" />
      </div>

      <!-- Label Text -->
      <div class="labeltext">
        <p id="text">
          We wil send an email to your registered email address with
          instructions for setting your new password
        </p>
      </div>

      <!-- Form -->
      <form>
        <div class="email">
          <input
            email_input
            type="text"
            name="email"
            id="emailInput"
            placeholder="Email Address"
            required
          />
        </div>

        <div class="information">
          <span id="information"
            >If you don't get the email right away, wait a few minutes or check
            your spam folders.</span
          >
        </div>
        <div class="button">
          <button id="submitButton" type="button">
            Send Password Reset Email
          </button>
        </div>
      </form>
    </div>

    <script src="/scripts/reset.js"></script>
  </body>
</html>
